<h2>Your Invites</h2>
<h4>You have <%= "#{@member.invites_left} #{"invite".pluralize(@member.invites_left)} to send." %></h4>

<% if @member.invites_left > 0 %>
  <%= link_to "New Invite", new_invite_path, class: "button new_invite_button" %>
<% end %>

<% @invites.each do |i| %>
  <% unless i.claimed %>
    <%= link_to edit_invite_path i do %>
      <div class="invite_info">
        <h4><%= i.full_name %></h4>
        <h6 class="code"><%= i.claim_code %></h6>
      </div>
    <% end %>
  <% else %>
    <div class="invite_info">
      <h4><%= i.full_name %></h4>
      <h6 class="claimed">CLAIMED</h6>
    </div>
  <% end %>
  <br />
<% end %>
