<div class="prompt-form">
  <%= semantic_form_for @prompt do |f| %>
    <div class="prompt-heading" style="border-left-color: <%= @prompt.color %>">
      <%= f.input :title, placeholder: "Untitled Prompt", input_html: {class: "underlined-input"}%>
      <div class="author-no-link">
        <%= @prompt.author.full_name %>
      </div>
      <%= f.input :color, :as => :select, :collection => colors_option_hash %>
      <%= f.input :text, placeholder: "set the community up for a riff" %>
    </div>

    <!-- Primary Submit -->
    <%= f.action :submit, :as => :button, label: "Publish", :button_html => {:class => "button", :value => "post"} %>

    <% unless is_new %>
      <%= link_to "Delete", delete_prompt_path(@prompt), class: "destructive-button smaller-button" %>
    <% end %>
  <% end %>
</div>
