<div class="prompt-show">
  <div class="prompt-heading" style="border-left-color: <%=@prompt.color%>">
    <div class="title">
      <%= @prompt.title %>
    </div>
    <div class="author">
      <%= link_to @prompt.author.full_name, member_path(@prompt.author) %>
    </div>
    <div class="prompt-text">
      <%= @prompt.text %>
    </div>
  </div>

  <div class="riff-list on-load-sequence-fade-in-container">
    <% @winners.each do |r| %>
      <div class="riff-show animation-child">
        <div class="riff-content">
          <%= r.content %>
        </div>
        <div class="riff-author">
          <%= r.author.full_name %>
        </div>
      </div>
    <% end %>
  </div>

</div>
