
<div class="about_page markdown static_text_page">

  <%= image_tag "dogplusgoat-black.png", class: "long" %>

  <h2>Why DogGoat was Built</h2>
  <p>
    If you look at comedy right now, it's great. We've had some comedic masterminds over the past few years change the game. Television is funnier than ever. Stand Up has seen a pretty healthy surge in popularity over the past few years. The United States Government is a huge joke. Comedy is everywhere, and it's on the upswing.
  </p>

  <p>
    But let's look at comedy on the internet. <b>Yes:</b> cats are great. <b>Oh baby:</b> Buzzfeed really knows how to make a quiz. Where do comedians go when they have a nice funny piece and don't want to publish a book? The chaotic environment of online forums and share buttons?
  </p>

  <p>
    DogGoat was created to be an oasis for comedians to share their real work. And it's a hub for readers who want well crafted humor.
  </p>

  <%= image_tag "doggoat-1-black.png", class: "medium_sqr" %>

  <h2>How DogGoat Works</h2>
  <p>
    Everybody can read everything on DogGoat. Members of DogGoat can contribute their own work.
  </p>

  <p>
    Members of DogGoat are invited to join by other members. This creates a interlocked community of comedians, who know each other, and trust each other's voices.
  </p>

  <p>
    Having members take responsibility to those they invite increases the focus on posting great, interesting comedy. Limiting invitations also helps the development team at DogGoat scale at a reasonable pace, when they're ready to.
  </p>
  <p>
    We understand this model isn't perfect. There are a lot of great comedians out there, and they won't all be members by tomorrow. Our efforts is to scale gracefully, while still maintaining the level of quality for both the site itself and the content within it.
  </p>

  <%= image_tag "doggoat-2-black.png", class: "medium_sqr" %>

  <h2>DogGoat's Zones</h2>
  <h3>Posts</h3>
  <p>
    Posts are the bread and butter of comedic work shared to DogGoat. Posts are any kind of article, story, or long-form bit that authors want to share with the world. Posts are formatted in <%= link_to "Markdown", controller: "static", action: "markdown" %>, for greater control.
  </p>

  <h3>Bits</h3>
  <p>
    Bits are simple, short, snappy moments of comedic insight. DogGoat's bits are a <em>bit</em> longer than tweets. They bubble up and down the "bit list" based on popularity.
  </p>

  <h3>Riffs</h3>
  <p>
    Riffs take inspiration from improv comedy's backline games. Riffs all start with a prompt, then, the community has a set amount of time to submit their best responses, or <em>riffs</em>, on the prompt.
  </p>
  <p>
    After a member submits their best riff, they can then vote on which other submissions they think are funniest. After a set amount of time, the riff closes, and the top three responses are displayed for all to see (and marvel at).
  </p>

  <h2>Development</h2>
  <p>
    DogGoat is currently in <em>Alpha</em>. That's a niche term, and <%= link_to "here's what it means for DogGoat", controller: "static", action: "prerelease" %>.
  </p>

  <h3>The Code</h3>
  <p>
    If you want to know how DogGoat works under the hood, you can actually look at all the source code. <br /> Check us out (or better yet, fork us): <%= link_to "DogGoat on Github", "http://www.github.com/cpimhoff/doggoat" %>
  </p>

</div>
