
<div class="about_page markdown static_text_page">

  <%= image_tag "dogplusgoat-black.png", class: "long" %>

  <h2>Why DogGoat was Built</h2>
  <p>
    If you look at comedy right now, it's great. We've had some comedic masterminds over the past few years change the game. Television is funnier than ever. Stand Up has seen a pretty healthy surge in popularity over the past few years. The United States Government is a huge joke. Comedy is everywhere, and it's on the upswing.
  </p>

  <p>
    But let's look at comedy on the internet. <b>Yes:</b> cats are great. <b>Oh baby:</b> Buzzfeed really knows how to make a quiz. Where do comedians go when they have a nice funny piece and don't want to publish a book? The chaotic environment of online forums and share buttons?
  </p>

  <p>
    DogGoat was created to be an oasis for comedians to share their real work. And it's a hub for readers who want well crafted humor.
  </p>

  <%= image_tag "doggoat-1-black.png", class: "medium_sqr" %>

  <h2>How DogGoat Works</h2>
  <p>
    Everybody can read everything on DogGoat. Members of DogGoat can contribute their own work.
  </p>

  <p>
    Members of DogGoat are invited to join by other members. This creates a interlocked community of comedians, who know each other, and trust each other's voices.
  </p>

  <p>
    Having members take responsibility to those they invite increases the focus on posting great, interesting comedy. Limiting invitations also helps the development team at DogGoat scale at a reasonable pace, when they're ready to.
  </p>
  <p>
    We understand this model isn't perfect. There are a lot of great comedians out there, and they won't all be members by tomorrow. Our efforts is to scale gracefully, while still maintaining the level of quality for both the site itself and the content within it.
  </p>

  <%= image_tag "doggoat-2-black.png", class: "medium_sqr" %>

  <h2>How DogGoat's Details Work</h2>
  <h3>Markdown</h3>
  <p>
    All posts on DogGoat are formatted in Markdown. Markdown is a plain text format which allows us to give authors the flexibility to format their content, while also keeping the site as a whole looking consistent.
  </p>
  <p>
    Markdown looks just like regular plain text, but with a few well placed <em>_underlines_</em> or <b>**asterisks**</b>, you get inline styles. By using '#' symbols at the start of a line, you get different sized headings. We took care when designing how our Markdown looks to give authors the flexibility to write anything from advice columns to grocery lists to screenplays within a single, simple style.
  </p>
  <p>
    If you don't want to format your stuff, no problem, plain text is compatible with Markdown, so there's no buy-in to learn it if you don't want to use it.
  </p>
  <p>
    For more information on Markdown, take a look at the <%= link_to "DogGoat Guide to Markdown", controller: "static", action: "markdown" %>.
  </p>

  <h3>Invites</h3>
  <p>
    Over time, and based on consistently changing conditions, Members receive invites to send off to new comedians. These invites never expire, but Members are encouraged to make them count.
  </p>
  <p>
    Inviting somebody is simple. Just create a new invite with any email you know they can get to. Then, click send. Invitees are sent a claim code they can use to create their account. And they'll know you invited them, so they'll take you (with cookies?).
  </p>

  <h3>The Code</h3>
  <p>
    If you <em>really</em> want to know how DogGoat works, like to a degree which makes you kind of a loser (it's okay, the people who made the site certainly are), you can actually look at all the source code.
  </p>

  <p>
    Check us out (or better yet, fork us): <%= link_to "DogGoat on Github", "http://www.github.com/cpimhoff/doggoat" %>
  </p>

  <h2>Development</h2>
  <p>
    DogGoat is currently in <em>Alpha</em>. That's a niche term, and <%= link_to "here's what it means for DogGoat", controller: "static", action: "prerelease" %>.
  </p>

</div>
