<div class="posts_list">
  <% @posts.each do |p| %>
    <div class="post">
      <span class="post_details" style="border-left-color: <%=p.color%>">
        <span class="author">
          <%= link_to p.author.full_name, member_path(p.author) %>
        </span><span class="title">
          <%= link_to p.title, post_path(p) %>
        </span><span class="views">
          <%= p.view_count %> views
        </span>
      </span>
      <span class="post_edge_tip"></span>
      <span class="post_edge_fill"></span>
    </div>
  <%end%>

  <%= paginate @posts, :window => 2 %>
</div>
