<div class="posts-list on-load-sequence-fade-in-container">
  <% @posts.each do |p| %>
    <div class="post-index-preview animation-child">
      <span class="post_details" style="border-left-color: <%=p.color%>">
        <span class="score">
          <%= p.score %>
        </span>
        <span class="title">
          <%= link_to p.title, post_path(p) %>
        </span>
        <span class="author">
          <%= link_to "by #{p.author.full_name}", member_path(p.author) %>
        </span>
        <% if p.is_draft %>
          <div class="draft-notice">DRAFT - <%= p.updated_at.to_s :short_ordinalized %></div>
        <% end %>
      </span>
    </div>
  <%end%>

  <%= paginate @posts, :window => 2 %>
</div>
