<div class="form">
  <%= form_for @post do |f| %>
    <%= f.text_field :title %>
    <div class="author_tag">
      <%= @post.author.full_name %>
    </div>
    <%= f.text_area :raw_content %>
    <%= f.submit "Update", class: "button update_button" %>
  <% end %>
</div>
