
<div class="post_content">
  <div class="heading" style="border-left-color: <%=@post.color%>">
    <div class="title">
      <%= @post.title %>
    </div>
    <div class="author">
      <%= link_to @post.author.full_name, member_path(@post.author) %>
    </div>
  </div>
  <div class="content markdown">
    <%= raw(@post.content) %>
  </div>
  <% if @post.author_id == session[:member_id] %>
    <%= link_to "edit", edit_post_path(@post), class: "button edit_button" %>
  <% end %>
</div>
