<!DOCTYPE html>
<html>
<head>
  <title>DogGoat</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="site_header">
  <div id="hero">
    <%= link_to posts_path do |x| %>
      <span id="dog">DOG</span><span id="goat">GOAT</span>
    <% end %>
  </div>
  <div id="navigation_bar">
    <div class='left lateral_list'>
      <span>hot</span>
      <span>new</span>
      <span>featured</span>
    </div>
    <div class='right lateral_list'>
      <span>upload</span>
      <span>logout</span>
    </div>
  </div>
</div>

<div class="main_content">
  <%= yield %>
</div>

<div id="site_footer">
  <div class='right lateral_list'>
    <span>contact</span>
    <span>policy</span>
    <span>about</span>
  </div>
</div>

</body>
</html>
