<!DOCTYPE html>
<html>
<head>
  <title>DogGoat</title>
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
</head>
<body>

<div id="site_header">
  <div id="hero">
    <span id="dog"><%= link_to "DOG", posts_path %></span><span id="goat"><%= link_to  "GOAT", posts_path %></span>
  </div>
  <div id="navigation_bar">
    <div class='left lateral_list'>
      <span><%= link_to_unless_current "hot", posts_path(:sort_by => "hot")%></span>
      <span><%= link_to_unless_current "new", posts_path(:sort_by => "recent")%></span>
      <span><%= link_to_unless_current "featured", posts_path(:sort_by => "featured")%></span>
      <span id="search">
        <%= form_tag search_posts_path, :method => :get do %>
          <%= text_field_tag :query, params[:query], :placeholder => "search" %>
        <% end %>
      </span>
    </div>
    <div class='right lateral_list'>
      <% if session['member_id'].blank? %>
        <span><%= link_to_unless_current "login", controller: "login", action: "index" %></span>
      <% else %>
        <span><%= link_to_unless_current session['member_first_name'], member_path(Member.find(session['member_id'])) %></span>
        <span><%= link_to_unless_current "upload", new_post_path%></span>
        <span><%= link_to_unless_current "logout", controller: "login", action: "logout" %></span>
      <% end %>
    </div>
  </div>
</div>

<% unless flash['msg'].blank? %>
  <div class="flash_block">
    <div class="msg">
      <%= flash['msg'] %>
    </div>
  </div>
<% end %>

<div class="main_content">
  <%= yield %>
</div>

<div id="site_footer">
  <div class="left lateral_list">
    <span><a href="https://github.com/cpimhoff/DogGoat">pre-alpha</a></span>
  </div>
  <div class='right lateral_list'>
    <span class="inactive">contact</span>
    <span class="inactive">policy</span>
    <span class="inactive">about</span>
  </div>
</div>

</body>
</html>
