<!DOCTYPE html>
<html>
<head>
  <title>DogGoat</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="site_header">
  <div id="hero">
    <%= link_to posts_path do %>
      <span id="dog">DOG</span><span id="goat">GOAT</span>
    <% end %>
  </div>
  <div id="navigation_bar">
    <div class='left lateral_list'>
      <%= link_to "hot", posts_path(:sort_by => "hot")%>
      <%= link_to "new", posts_path(:sort_by => "recent")%>
      <%= link_to "featured", posts_path(:sort_by => "featured")%>
    </div>
    <div class='right lateral_list'>
      <% if session['member_id'].blank? %>
        <%= link_to "login", controller: "login", action: "index" %>
      <% else %>
        <%= session['member_first_name'] %>
        <%= link_to "upload", new_post_path%>
        <%= link_to "logout", controller: "login", action: "logout" %>
      <% end %>
    </div>
  </div>
</div>

<% unless flash['msg'].blank? %>
  <div class="flash_block">
    <div class="msg">
      <%= flash['msg'] %>
    </div>
  </div>
<% end %>

<div class="main_content">
  <%= yield %>
</div>

<div id="site_footer">
  <div class="left lateral_list">
    <a href="https://github.com/cpimhoff/DogGoat">pre-alpha</a>
  </div>
  <div class='right lateral_list'>
    <span>contact</span>
    <span>policy</span>
    <span>about</span>
  </div>
</div>

</body>
</html>
