<div class="welcome">
  <h1>Welcome!</h1>
  <h2>DogGoat is a community of comedians.</h2>
  <p>
    If you've recieved an invite code from a friend already a member of DogGoat, you can use it here to create a Member account.
  </p>
  <p>
    Members can post bits they are working on or proud of. If you haven't been invited to become a Member, don't worry, you can still read all the content on the site.
  </p>
</div>

<div class="registration">
  <%= semantic_form_for :account, :url => members_path, :method => :post do |f| %>
    <h3>Claim Code:</h3>
    <%= f.input :claim_code, placeholder: "paste your claim code here", :input_html => {:value => @code, :class => "underlined-input long-input"} %>
    <h4>Create a password for your account:</h4>
    <%= f.input :password, placeholder: "password", input_html: {class: "long-input"} %>
    <%= f.input :password_confirmation, placeholder: "confirm the password", input_html: {class: "long-input"} %>
    <br />
    <%= f.action :submit, :label => "Join", :as => :button, :button_html => {class: "button"} %>
  <% end %>
</div>
