
<div class="member_info_block">
  <h1> <%= @member.full_name %> </h1>
  <h2> with <%= @posts.total_count %> <%= "post".pluralize(@posts.total_count) %> </h2>
  <h2> since <%= @member.created_at.to_s :month_year %> </h2>

  <% if @member.id == session[:member_id] %>
    <%= link_to "New Post", new_post_path, class: "button" %>
    <%= link_to "New Bit", new_bit_path, class: "button" %>
    <%= link_to "Invites (#{@member.invites_left} left)", invites_path, class: "button invites_button" %>
    <%= link_to "Settings", edit_member_path(@member), class: "button settings_button" %>
  <% end %>
</div>

<%= render 'posts/posts_list' %>
